.container {
	max-width: 800px;
	padding: 0;

}

.development {
	display: none;
}
body {
	background-color: #33b2e2;
}

.info {
	color: white;
	padding: 20px;
}

.backbutton {
	float: left;
	width: 0;
}


.card {
	border: none !important;
	border-radius: 0px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

span.redirect {
  text-align: right;
  float: right;
}

span.redirect:hover {
  text-decoration: underline;
}
.card-header, .card-header:first-child {
	border-radius: 0px;
	border: none !important;
}
.qrcode {
	width: 128px;
}

.small-text {
  font-size: 14px;
}


.list-item:hover {
	background-color: aliceblue;
}
/* bootstrap changes */
/*
.list-group {
	padding: 0;
}*/
.list-group-item {
	border-left: none;
	border-right: none;
}
/* end */


section {
  background: white;
}

h1 {
	margin-bottom: 20px;
}


.icon {
	width: 128px;
}


a.list-group-item:hover {
	background-color: #F7FBFF;
}

a.active-location {
	background-color: #EEF6FF;
}

a.active-location:hover {
	background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}

.list-group-item-image {
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.card-header {
	border: none
}
